@import 'layout.scss';

.border-left {
  position: relative;
  @extend .h-padding-left;

  &:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 1px;
    background-color: var(--textColor);
    z-index: 999;
  }
}

.border-right {
  position: relative;
  @extend .h-padding-right;

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -1px;
    bottom: 0px;
    width: 1px;
    background-color: var(--textColor);
    z-index: 999;
  }
}

.border-block,
.border-both {
  @extend .border-left, .border-right;

  &.h-padding-none {
    padding-left: 0px;
    padding-right: 0px;
  }
}
