@import 'variables.scss';

// $h-spacing-small: #000000;
// $h-spacing-mid: #000000;

.center-col {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  @media (min-width: $small) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (min-width: $mid) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @media (min-width: $big) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.h-padding-none {
  padding-left: 0px;
  padding-right: 0px;
}

.h-padding,
.h-padding-both {
  box-sizing: border-box;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  @media (min-width: $small) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: $mid) {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  @media (min-width: $big) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.h-padding-left {
  box-sizing: border-box;
  padding-left: 0.75rem;

  @media (min-width: $small) {
    padding-left: 1rem;
  }

  @media (min-width: $mid) {
    padding-left: 1.25rem;
  }

  @media (min-width: $big) {
    padding-left: 1.5rem;
  }
}

.h-padding-right {
  box-sizing: border-box;
  padding-right: 0.75rem;

  @media (min-width: $small) {
    padding-right: 1rem;
  }

  @media (min-width: $mid) {
    padding-right: 1.25rem;
  }

  @media (min-width: $big) {
    padding-right: 1.5rem;
  }
}

.h-padding {
  box-sizing: border-box;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  @media (min-width: $small) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: $mid) {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  @media (min-width: $big) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.h-offset-margin-right {
  box-sizing: border-box;
  margin-right: -0.75rem;

  @media (min-width: $small) {
    margin-right: -1rem;
  }

  @media (min-width: $mid) {
    margin-right: -1.25rem;
  }

  @media (min-width: $big) {
    margin-right: -1.5rem;
  }
}

.v-padding-top-none {
  padding-top: 0rem;
}

.v-padding-top-tiny {
  padding-top: 0.75rem;
}

.v-padding-top,
.v-padding-top-normal {
  padding-top: 1.5rem;
}

.v-padding-top-mid {
  padding-top: 3rem;
}

.v-padding-top-big {
  padding-top: 6rem;
}

.v-padding-top-mega {
  padding-top: 25vh;
}

.v-padding-bottom-none {
  padding-bottom: 0rem;
}

.v-padding-bottom-tiny {
  padding-bottom: 0.75rem;
}

.v-padding-bottom,
.v-padding-bottom-normal {
  padding-bottom: 1.5rem;
}

.v-padding-bottom-mid {
  padding-bottom: 3rem;
}

.v-padding-bottom-big {
  padding-bottom: 6rem;
}

.v-padding-bottom-mega {
  padding-bottom: 25vh;
}

.v-margin-top-none {
  margin-top: 0rem;
}

.v-margin-top-tiny {
  margin-top: 0.75rem;
}

.v-margin-top,
.v-margin-normal {
  margin-top: 1.5rem;
}

.v-margin-top-mid {
  margin-top: 3rem;
}

.v-margin-top-big {
  margin-top: 6rem;
}

.v-margin-top-mega {
  margin-top: 25vh;
}

.v-margin-bottom-none {
  margin-bottom: 0rem;
}

.v-margin-bottom-tiny {
  margin-bottom: 0.75rem;
}

.v-margin-bottom,
.v-margin-bottom-normal {
  margin-bottom: 1.5rem;
}

.v-margin-bottom-mid {
  margin-bottom: 3rem;
}

.v-margin-bottom-big {
  margin-bottom: 6rem;
}

.v-margin-bottom-mega {
  margin-bottom: 25vh;
}

.horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.reverse {
    flex-direction: row-reverse;
  }

  &.center {
    justify-content: center;
  }

  &.start {
    justify-content: flex-start;
  }

  &.end {
    justify-content: flex-end;
  }

  &.no-wrap {
    flex-wrap: nowrap;
  }

  &.between {
    justify-content: space-between;
  }

  .flex {
    flex: 1;
  }

  .self-start {
    align-self: flex-start;
  }

  .self-center {
    align-self: center;
  }

  .self-end {
    align-self: flex-end;
  }

  .items-center {
    align-items: center;
  }

  .clear-center .clear-end {
    margin-left: 100%;
  }
}

.vertical {
  @extend .horizontal;
  flex-wrap: nowrap;
  flex-direction: column;

  &.reverse {
    flex-direction: column-reverse;
  }
}

.full-height {
  min-height: 100vh;
}

.fill-height {
  min-height: 100%;
}

// $small: 640px;
// $mid: 960px;
// $big: 1200px;
// $max: 1600px;

$media-query-abbrevs: (
  'xs': 0,
  's': $small,
  'm': $mid,
  'l': $big,
  'xl': $max
);

$sizes: (
  'none': 0%,
  'eighth': 12.5%,
  'sixth': 16.66%,
  'fifth': 20%,
  'quarter': 25%,
  'third': 33.33%,
  'half': 50%,
  'two-thirds': 66.66%,
  'three-quarters': 75%,
  'five-sixths': 83.33%,
  'full': 100%,
  'auto': 'auto'
);

@mixin grid-sizes($query-size) {
  @each $size, $value in $sizes {
    .#{$query-size}-#{$size} {
      width: $value;

      &.clear-none {
        margin-right: 0px;
        margin-left: 0px;
      }

      @if $size != 'auto' {
        &.clear-right {
          margin-right: calc(100% - #{$value});
        }

        &.clear-left {
          margin-left: calc(100% - #{$value});
        }

        &.clear-both {
          margin-left: calc(50% - #{$value/2});
          margin-right: calc(50% - #{$value/2});
        }
      }
    }

    // .start-offset-#{$query-size}-#{$size} {
    //   margin-left: $value;
    // }

    // .end-offset-#{$query-size}-#{$size} {
    //   margin-right: $value;
    // }
  }
}

@mixin breakpoint-classes {
  @each $query, $width in $media-query-abbrevs {
    @media (min-width: $width) {
      @include grid-sizes($query);

      .#{$query}-reverse {
        flex-direction: row-reverse;
      }

      .#{$query}-full-height {
        min-height: 100vh;
      }
    }
  }
}

@include breakpoint-classes();
