@import 'variables.scss';

// $h-spacing-small: #000000;
// $h-spacing-mid: #000000;

.center-col {
  // max-width: 1800px;
  // margin: 0 auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  @media (min-width: $small) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: $mid) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (min-width: $big) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.h-padding-none {
  padding-left: 0px;
  padding-right: 0px;
}

.h-padding {
  box-sizing: border-box;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  @media (min-width: $small) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: $mid) {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  @media (min-width: $big) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.h-padding-left {
  box-sizing: border-box;
  padding-left: 0.75rem;

  @media (min-width: $small) {
    padding-left: 1rem;
  }

  @media (min-width: $mid) {
    padding-left: 1.25rem;
  }

  @media (min-width: $big) {
    padding-left: 1.5rem;
  }
}

.h-padding-right {
  box-sizing: border-box;
  padding-right: 0.75rem;

  @media (min-width: $small) {
    padding-right: 1rem;
  }

  @media (min-width: $mid) {
    padding-right: 1.25rem;
  }

  @media (min-width: $big) {
    padding-right: 1.5rem;
  }
}

.h-padding {
  box-sizing: border-box;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  @media (min-width: $small) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: $mid) {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  @media (min-width: $big) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.v-padding-top-none {
  padding-top: 0rem;
}

.v-padding-top-tiny {
  padding-top: 0.75rem;
}

.v-padding-top {
  padding-top: 1.5rem;
}

.v-padding-top-mid {
  padding-top: 3rem;
}

.v-padding-top-big {
  padding-top: 6rem;
}

.v-padding-top-mega {
  padding-top: 20vh;
}

.v-padding-bottom-none {
  padding-bottom: 0rem;
}

.v-padding-bottom-tiny {
  padding-bottom: 0.75rem;
}

.v-padding-bottom {
  padding-bottom: 1.5rem;
}

.v-padding-bottom-mid {
  padding-bottom: 3rem;
}

.v-padding-bottom-big {
  padding-bottom: 6rem;
}

.v-padding-bottom-mega {
  padding-bottom: 20vh;
}

.v-margin-top-none {
  margin-top: 0rem;
}

.v-margin-top-tiny {
  margin-top: 0.75rem;
}

.v-margin-top {
  margin-top: 1.5rem;
}

.v-margin-top-mid {
  margin-top: 3rem;
}

.v-margin-top-big {
  margin-top: 6rem;
}

.v-margin-top-mega {
  margin-top: 20vh;
}

.v-margin-bottom-none {
  margin-bottom: 0rem;
}

.v-margin-bottom-tiny {
  margin-bottom: 0.75rem;
}

.v-margin-bottom {
  margin-bottom: 1.5rem;
}

.v-margin-bottom-mid {
  margin-bottom: 3rem;
}

.v-margin-bottom-big {
  margin-bottom: 6rem;
}

.v-margin-bottom-mega {
  margin-bottom: 20vh;
}

// .v-padded {
//   padding-top: 1.5rem;
//   padding-bottom: 1.5rem;
//   box-sizing: border-box;
// }

// .v-padded-bottom {
//   padding-bottom: 1.5rem;
//   box-sizing: border-box;
// }

// .v-padded-big {
//   padding-top: 4rem;
//   padding-bottom: 4rem;
//   @media (min-width: $mid) {
//     padding-top: 8rem;
//     padding-bottom: 8rem;
//   }
// }

// .v-padded-bottom-big {
//   padding-bottom: 4rem;
//   @media (min-width: $mid) {
//     padding-bottom: 8rem;
//   }
// }

// .v-padded-top-big {
//   padding-top: 4rem;
//   @media (min-width: $mid) {
//     padding-top: 8rem;
//   }
// }

// .v-margin-small {
//   margin-top: 1.5rem;
//   margin-bottom: 1.5rem;
// }

// .v-margin-bottom-small {
//   margin-bottom: 1.5rem;
// }

// .v-margin-top-small {
//   margin-top: 1.5rem;
// }

// .v-margin {
//   margin-top: 4rem;
//   margin-bottom: 4rem;
//   @media (min-width: $mid) {
//     margin-top: 8rem;
//     margin-bottom: 8rem;
//   }
// }

// .v-margin-bottom {
//   margin-bottom: 4rem;
//   @media (min-width: $mid) {
//     margin-bottom: 8rem;
//   }
// }

// .v-margin-top {
//   margin-top: 4rem;
//   @media (min-width: $mid) {
//     margin-top: 8rem;
//   }
// }

// .v-margin-big {
//   margin-top: 8rem;
//   margin-bottom: 8rem;
// }

// .v-margin-bottom-big {
//   margin-bottom: 8rem;
// }

// .v-margin-top-big {
//   margin-top: 8rem;
// }

// .v-margin-mega {
//   margin-top: 25vh;
//   margin-bottom: 25vh;
// }

// .v-margin-mega-top {
//   margin-top: 25vh;
// }

// .v-margin-mega-bottom {
//   margin-bottom: 25vh;
// }

// .no-margin {
//   margin-top: 0rem;
//   margin-bottom: 0rem;
// }

// .no-margin-top {
//   margin-top: 0rem;
// }

// .no-margin-bottom {
//   margin-bottom: 0rem;
// }

.horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.reverse {
    flex-direction: row-reverse;
  }

  &.center {
    align-items: center;
  }

  &.start {
    align-items: flex-start;
  }

  &.end {
    align-items: flex-end;
  }

  &.no-wrap {
    flex-wrap: nowrap;
  }

  &.between {
    justify-content: space-between;
  }

  .flex {
    flex: 1;
  }

  .self-start {
    align-self: flex-start;
  }

  .self-center {
    align-self: center;
  }

  .self-end {
    align-self: flex-end;
  }
}

.vertical {
  @extend .horizontal;
  flex-direction: column;

  &.reverse {
    flex-direction: column-reverse;
  }
}

// .horizontal {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;

//   &.reverse {
//     flex-direction: row-reverse;
//   }

//   &.v-center {
//     align-items: center;
//   }

//   &.v-start {
//     align-items: flex-start;
//   }

//   &.v-end {
//     align-items: flex-end;
//   }

//   &.no-wrap {
//     flex-wrap: nowrap;
//   }

//   .flex {
//     flex: 1;
//   }
// }

// .cell {
//   @extend .h-padded;
// }

// .row {
//   @extend .h-padded;
// }

.full-height {
  min-height: 100vh;
}

.fill-height {
  min-height: 100%;
}

.xs-quarter {
  width: 25%;
}

.xs-half {
  width: 50%;
}

.xs-three-quarters {
  width: 75%;
}

.xs-full {
  width: 100%;
}

.xs-third {
  width: 33.33%;
}

.xs-two-thirds {
  width: 66.66%;
}

.xs-five-sixths {
  width: 83.33%;
}

@media (min-width: $small) {
  .s-quarter {
    width: 25%;
  }

  .s-half {
    width: 50%;
  }

  .s-three-quarters {
    width: 75%;
  }

  .s-full {
    width: 100%;
  }

  .s-third {
    width: 33.33%;
  }

  .s-two-thirds {
    width: 66.66%;
  }

  .s-reverse {
    flex-direction: row-reverse;
  }
}

@media (min-width: $mid) {
  .m-sixth {
    width: 16.6%;
  }

  .m-quarter {
    width: 25%;
  }

  .m-half {
    width: 50%;
  }

  .m-three-quarters {
    width: 75%;
  }

  .m-full {
    width: 100%;
  }

  .m-third {
    width: 33.33%;
  }

  .m-two-thirds {
    width: 66.66%;
  }

  .m-full-height {
    min-height: 100vh;
  }

  .m-reverse {
    flex-direction: row-reverse;
  }
}

@media (min-width: $big) {
  .l-sixth {
    width: 16.6%;
  }

  .l-fifth {
    width: 20%;
  }

  .l-quarter {
    width: 25%;
  }

  .l-half {
    width: 50%;
  }

  .l-three-quarters {
    width: 75%;
  }

  .l-full {
    width: 100%;
  }

  .l-third {
    width: 33.33%;
  }

  .l-two-thirds {
    width: 66.66%;
  }
}
