@import 'reset.scss';
@import 'variables.scss';
@import 'type.scss';
@import 'layout.scss';
@import 'images.scss';
@import 'animations.scss';
@import 'borders.scss';

html,
body {
  font-family: 'Plain', sans-serif;
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  color: $dark;
  --textColor: $dark;
  --hoverColor: $accent;
}

img {
  display: block;
}

figure {
  margin: 0px;
}

#site {
  color: var(--textColor);
  // transition: color 300ms ease;
}

.color-background {
  background-color: var(--backgroundColor);
  transition: background-color 600ms ease, color 300ms ease;
}

.wrapper-link {
  text-decoration: none;
  color: inherit;
}

a {
  transition: color 300ms ease;
  color: inherit;
  &:hover {
    color: var(--hoverColor);
  }
}

.big-quote-wrapper {
  background-color: black;
}

.big-quote {
  padding: 1.5rem;
  background-color: black;
  color: var(--backgroundColor);
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 8rem;
  blockquote {
    margin: 0px;
  }

  .quote-attribution {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
  }
}

.multiply {
  mix-blend-mode: multiply;
}

.screen {
  mix-blend-mode: screen;
}
