@import 'reset.scss';
@import 'variables.scss';
@import 'type.scss';
@import 'layout.scss';
@import 'images.scss';
@import 'animations.scss';

html,
body {
  font-family: 'Plain', sans-serif;
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  color: $dark;
}

img {
  display: block;
}

figure {
  margin: 0px;
}

.border-left {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 1px;
    background-color: #000;
  }
}

.border-right {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -1px;
    bottom: 0px;
    width: 1px;
    background-color: #000;
  }
}

.border-block {
  @extend .h-padding, .border-left, .border-right;

  &.h-padding-none {
    padding-left: 0px;
    padding-right: 0px;
  }
}

// .has-grid {
//   position: relative;
// }

// .grid-container {
//   position: absolute;
//   top: 0px;
//   left: 0px;
//   bottom: 0px;
//   right: 0px;
//   height: 100%;
// }

.wrapper-link {
  text-decoration: none;
  color: inherit;
}

a {
  color: inherit;
}

// .link {
//   text-decoration: underline;

//   &:hover {
//     color: $accent;
//   }
// }

// .accent {
//   color: $accent;
// }

// .inverse {
//   color: #fff;

//   .border-left {
//     &:before {
//       background-color: #fff;
//     }
//   }

//   .border-right {
//     &:after {
//       background-color: #fff;
//     }
//   }
// }
