@font-face {
  font-family: 'Plain';
  src: url('/fonts/Plain-Medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Plain';
  src: url('/fonts/Plain-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1,
.mega {
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -0.01em;
  font-weight: normal;
  @media (min-width: $mid) {
    font-size: 3.5rem;
    letter-spacing: -0.02em;
  }

  @media (min-width: $big) {
    font-size: 4.5rem;
  }

  @media (min-width: $max) {
    font-size: 5rem;
  }
}

h2,
.big {
  font-weight: normal;
  font-family: 'Plain';
  font-size: 2rem;
  line-height: 1.1;
  letter-spacing: -0.01em;

  @media (min-width: $mid) {
    font-size: 2.25rem;
  }

  @media (min-width: $big) {
    font-size: 2.5rem;
  }
}

h3,
.mid {
  font-weight: normal;
  font-family: 'Plain';
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: -0.01em;
  @media (min-width: $mid) {
    font-size: 1.75rem;
  }
}

p,
.body {
  font-family: 'Plain';
  font-size: 1rem;
  line-height: 1.25;
  // @media (min-width: $mid) {
  //   font-size: 1.25rem;
  // }
}

.mini {
  font-family: 'Plain';
  font-size: 1rem;
  line-height: 1.25;
}

.tiny {
  font-family: 'Plain';
  font-size: 0.75rem;
  line-height: 1;
  opacity: 0.6;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    position: relative;
    padding-left: 2rem;
    display: block;
    margin-bottom: 1rem;

    &:before {
      content: '\00AC';
      color: inherit;
      position: absolute;
      left: 0px;
    }
  }
}

.indent {
  text-indent: 25%;
}

.secondary-text {
  opacity: 0.6;
}
