// BREAKPOINTS
$small: 640px;
$mid: 960px;
$big: 1200px;
$max: 1600px;

// COLORS

$light: #ffffff;
$light2: #edefed;
$dark: #000000;

$accent: #f05969;
$accent-light: #fcdee0;

$extended1: #4a29f0;
$extended1-light: #d1e5ff;

$extended2: #45d1a6;
$extended2-light: #d9f5ed;

$extended3: #fbe704;
$extended3-light: #fffacc;
